
    <!-- <a href="#" class="list-group-item clearfix" (click)="onSelected()"> -->
    <!-- <a class="list-group-item clearfix" (click)="onSelected()" style="cursor: pointer;"> -->
    <a
      class="list-group-item clearfix"
      style="cursor: pointer;"
      [routerLink] = "[index]">

      <div class="float-left">
          <h4 class="list-group-item-action">{{recipe.name}}</h4>
          <p class="list-group-item-light">{{recipe.description}}</p>
      </div>

      <span class="float-right">

        <!-- <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 100px;"> -->
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" style="max-height: 100px; max-width: 100px;">

      </span>
    </a>
